canvas{
z-index:-99; 
opacity: 2%;
filter: blur(2px);
}

/* general styling */
body{
  background-image: url("background-image.png")
}

.wrapper{
  margin-top:200px;
  height:90vh;
}

h1{
  font-family: 'Kumar One', cursive;
  font-size:200px;
  color: #A5FF5B;
  line-height:.9em;
}

h2{
  font-family: 'Exo', sans-serif;
  font-size:40px;
  color: #A5FF5B;
  line-height:0;
}

p{
  font-family: 'Kumar One', cursive;
  font-size:30px;
  color: #000000;
  text-align:center;
  text-shadow: 0 0 10px #A5FF5B, 0 0 20px #A5FF5B, 0 0 30px #A5FF5B; /* Set the text shadow to create the neon glow effect */
}

.project-container{
  position:relative;
}

.project-number{
  position:absolute;
  margin-left:33%;
  margin-top:-30%;
}



/* sections */
.name-info{
  display:flex;
  flex-direction:column;
  text-align:right;
  padding:0;
  margin-top:5%;
  margin-right:5%;

}

.info:hover{
  animation: glitch 1s infinite;
} 


.info{
  margin:0;
  padding:0;
}

.projects{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  width:90%;
  margin-left:10%;
  align-items:center;
  animation: move 5s linear infinite;
}

@keyframes move {
  0% {
    left: -100px;
  }
  100% {
    left: 100%;
  }
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height:70vh;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
}

.card {
  width: 700px;
  height: 400px;
  margin: 10px;
  border-radius:10px;
  border: 2px solid #A5FF5B;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.card:hover{
  animation: glitch 1s infinite;
}

.glitch {
  font-size: 200px;
  color: #A5FF5B;
  margin:0;
}

.glitch:hover{
  animation: glitch 1s infinite;
  text-shadow: 
    -1px -1px 0 #00c6ff,
    1px -1px 0 #ff00a9,
    -1px 1px 0 #ff8d00,
    1px 1px 0 #833ab4;
}

@keyframes glitch {
  0% {
    transform: skew(0deg);
    text-shadow: 
      -1px -1px 0 #00c6ff,
      1px -1px 0 #ff00a9,
      -1px 1px 0 #ff8d00,
      1px 1px 0 #833ab4;
  }
  20% {
    transform: skew(10deg);
    text-shadow: 
      -1px -1px 0 #00c6ff,
      1px -1px 0 #ff00a9,
      -1px 1px 0 #ff8d00,
      1px 1px 0 #833ab4;
  }
  40% {
    transform: skew(-10deg);
    text-shadow: 
      -1px -1px 0 #ff8d00,
      1px -1px 0 #00c6ff,
      -1px 1px 0 #833ab4,
      1px 1px 0 #ff00a9;
  }
  60% {
    transform: skew(0deg);
    text-shadow: 
      -1px -1px 0 #ff8d00,
      1px -1px 0 #00c6ff,
      -1px 1px 0 #833ab4,
      1px 1px 0 #ff00a9;
  }
  80% {
    transform: skew(-10deg);
    text-shadow: 
      -1px -1px 0 #ff00a9,
      1px -1px 0 #ff8d00,
      -1px 1px 0 #00c6ff,
      1px 1px 0 #833ab4;
  }
  100% {
    transform: skew(0deg);
    text-shadow: 
      -1px -1px 0 #ff00a9,
      1px -1px 0 #ff8d00,
      -1px 1px 0 #00c6ff,
      1px 1px 0 #833ab4;
  }
}


/* image blur */
img{
  filter: blur(4px);
  transition: filter 0.3s ease;
  z-index:0;
}

img:hover{
  filter:none;
}


/* mobile */
@media (max-width: 400px) {
  body{
    width:100vw;
    margin:0;
  }
  .glitch{
    font-size:60px;
    text-align:center;
    line-height:1.2em;
  }
  h2{
    font-size:30px;
    text-align:center;
  }
  .info{
    padding-top:30px;
  }
  .container{
    height:66vh;
  }
  .projects{
    margin:15px;
  }
  img{
    filter:blur(2px);
  }
}